{{template "base" .}}

{{define "title"}}
    <title>Home Page</title>
{{end}}

{{define "content"}}
    <div class="row">
        <h1 class="text-3xl">Home Page</h1>
        <a href="/about">About Page</a>
        <p>This is the message from the Template Data {{index .StringMap "test"}}</p>

        <img src="/static/images/tray.png" alt="Some Testing">
    </div>
{{end}}